@page "/mudblazorcomponents"

<PageTitle>MudBlazorComponents</PageTitle>

<h1>MudBlazor Components</h1>

<MudGrid>
    <MudItem xs="12">
        <MudAlert Severity="Severity.Normal">The reactor type is RBMK-1000</MudAlert>
    </MudItem>
    <MudItem xs="12">
        <MudAlert Severity="Severity.Info">The reactor was fired up successfully</MudAlert>
    </MudItem>
    <MudItem xs="12">
        <MudAlert Severity="Severity.Success">The reactor is running at optimum temperature</MudAlert>
    </MudItem>
    <MudItem xs="12">
        <MudAlert Severity="Severity.Warning">The reactor temperature exceeds the optimal range</MudAlert>
    </MudItem>
    <MudItem xs="12">
        <MudAlert Severity="Severity.Error">Meltdown is imminent</MudAlert>
    </MudItem>
</MudGrid>
